:root{

    /* color codes in hex */
    --bluish-hex:  #2B04E8;
    --tint-bluish-hex: #4A40FF; 
    --purple-hex: #5009FF;     
    --tint-purple-hex: #6A12E8;
    --light-purple-hex: #8B09FF;
}
*{
    font-family: 'Montserrat', sans-serif;
}
::selection {
    -webkit-text-fill-color: var(--light-purple-hex);
}
.mr-1 {
    margin: 1rem 0;
}
.px-4 {
    padding: 1rem;
}
.pd-2 {
    padding: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.font-gradient {
    background: linear-gradient(45deg, var( --tint-bluish-hex), var(--light-purple-hex), #363636);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.background-gradient {
    background: linear-gradient(45deg, var( --tint-bluish-hex), var(--light-purple-hex), #363636);
}
.btnX {
    margin: auto;
    display: block;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-3 {
    margin-bottom: 3rem
}
.pointer {
    cursor: pointer;
}
.section-5-2-half {
    padding: 5rem 2.5rem;
}
.brad-1 {
    border-radius: 1rem;
}
.is-blue {
    color: var(--bluish-hex);
}
.is-blue:hover {
    color: var(--purple-hex)
}